<!DOCTYPE html>
<html lang="fr" ng-app="dashboard">
  <head>
    <title ng-bind="'Yihaaaaaaaaaaaa, Angular !'">Titre à remplir</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="/static/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet">
    <script src="/static/jquery/dist/jquery.js"></script>
    <script src="/static/angular/angular.js"></script>
    <script src="/static/angular-animate/angular-animate.js"></script>
    <script src="/static/flot/jquery.flot.js"></script>
    <script src="/static/d3/d3.js"></script>
    <script src="/js/navbar.js"></script>
    <script src="/js/tabs.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/d3.js"></script>
    <style>
    
    ul#events {
      column-count: 3;
      -webkit-column-count: 3;
    }
    
    ul#events li.ng-enter {
      transition: all 2s;
      background-color: red;
    }
    
    ul#events li,
    ul#events li.ng-enter.ng-enter-active {
      background-color: inherit;
    }
    
    .nav-pills {
      margin-bottom: 10px;
    }
    
    </style>
  </head>
  <body>
    
    <tt-navbar title="This is me, {{ 6 + 5 }}"></tt-navbar>

    <div class="container-fluid" ng-cloak>
      
      <div ng-controller="TrucsController">
        <tabs>
          <tab ng-repeat="truc in trucs" title="Tab {{ truc.num }}" active="$index === 0">
            <p>Contenu : truc n°{{ truc.num }}.</p>
          </tab>
        </tabs>
        <p><button class="btn btn-default" ng-click="addTruc()">Ajouter un truc</button></p>
      </div>
      
      <hr>
      
      <h1>Salut, {{ 'Tête de bite' }} !</h1>
      <p>Petit calcul : 1 + 2 = {{ 1 + 2 }}</p>
      
      <hr>
      
      <p>
        <form class="form-inline" role="form">
          <div class="form-group">
              <label class="sr-only" for="graph-name">Nom</label>
              <input type="text" class="form-control" id="graph-name" placeholder="Graphe" ng-model="name">
          </div>
          <div class="form-group">
              <label class="sr-only" for="repliquat-name">Répliquat</label>
              <input type="text" class="form-control" id="repliquat-name" ng-model="name">
          </div>
          <button class="btn btn-default" ng-click="alert(name)">OK</button>
        </form>
      </p>
      
      <p><b>Nom :</b> {{ name }}</p>
      
      <hr>
      
      <div ng-controller="GraphController">
        <p>{{ graphs.length }} graphes trouvés :</p>
        <ul>
          <li ng-repeat="graph in graphs">
            <a ng-href="#/graph/{{ graph.id }}">{{ graph.title | upper }}</a>
          </li>
        </ul>
      </div>
      
      <hr>
      
      <div ng-controller="EventWatcherController">
        <div ng-controller="EventController">
        
          <p><button class="btn btn-default" ng-click="add()">Ajouter un événement</button><p>
          <p><button class="btn btn-default" ng-click="remove()">Supprimer un événement</button><p>
      
          <ul id="events">
            <li ng-repeat="event in events">{{ event }}</li>
          </ul>
          
        </div>
        
        <p>{{ eventsAddedCount }} événement(s) ajouté(s)</p>
      </div>
      
      <hr>
      
      <div ng-controller="D3Controller">
        <p><button class="btn btn-default" ng-click="addNumber()">Ajouter un nombre</button><p>
        <d3 data="data" update="updateMe"></d3>
      </div>
      
    </div>
      
    <script src="/static/bootstrap/dist/js/bootstrap.js"></script>
  </body>
</html>
