<div>

  <h1>Tasks</h1>
  
  <p>
    <button class="btn btn-default" ng-click="createTask()">Créer une nouvelle tâche</button>
    <button class="btn btn-default" ng-click="exportTasks()">Exporter les tâches</button>
  </p>
  
  <hr>
  
  <form>
    <div class="form-group">
      <label for="file">Fichier à importer</label>
      <input type="file" ng-file-select ng-model="fileToImport" id="file" name="file">
    </div>
    <button type="submit" class="btn btn-default" ng-click="importTasks(fileToImport)">Importer</button>
  
  </form>
  
  <hr>

  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="task in tasks">
        <td><a ng-href="#!/tasks/{{ task.id }}">{{ task.id }}</a></td>
        <td>{{ task.title }}</td>
        <td>{{ task.status }}</td>
      </tr>
    </tbody>
  </table>

</div>
