<div>

  <h1>Tree</h1>
  
  <p>X = <input ng-model="x"></p>
  
  <tree>
    <ul ng-if="arbre.length > 0">
      <li ng-repeat="item in arbre">
        <p>
          <input ng-model="item.name">
          {{ x }}
          <button ng-click="arbre.splice($index, 1)">DELETE</button>
          <button ng-click="addChild(item)">ADD CHILD</button>
        </p>
        <call-tree rebind="arbre = item.children"></call-tree>
      </li>
    </ul>
  </tree>
  
  <hr>

  <pre>{{ arbre | json }}</pre>

</div>
