<div>

  <h1>Tree</h1>
  
  <h2>Arbre</h2>
  
  <recursive ng-init="level = 0">
    <div ng-repeat="item in arbre" class="tree-node">
      <p>
        {{ level }}
        <input ng-model="item.name" class="form-control input-sm">
        <button ng-click="arbre.splice($index, 1)" class="btn btn-default btn-xs">
          Supprimer
        </button>
        <button ng-click="addChild(item)" class="btn btn-default btn-xs">
          Ajouter un enfant
        </button>
      </p>
      <call-recursive rebind="arbre = item.children; level = level + 1"></call-tree>
    </div>
  </recursive>
  
  <h2>Résultat</h2>

  <pre>{{ arbre | json }}</pre>

</div>
