<div>

  <h1>Tree</h1>
  
  <h2>Arbre</h2>
  
  <p>
    <button ng-click="addParent()" class="btn btn-default">
      <span class="glyphicon glyphicon-plus"></span>
      Ajouter un nouvel élément
    </button>
  </p>
  
  <hr>
  
  <recursive>
    <div ng-repeat="item in arbre" class="tree-node form-inline">
      <p>
        <input ng-model="item.name" class="form-control input-sm">
        <button ng-click="addChild(item)" class="btn btn-default btn-xs">
          <span class="glyphicon glyphicon-plus"></span>
          Ajouter un enfant
        </button>
        <button ng-click="arbre.splice($index, 1)" class="btn btn-danger btn-xs">
          <span class="glyphicon glyphicon-remove"></span>
          Supprimer
        </button>
      </p>
      <call-recursive rebind="arbre = item.children"></call-recursive>
    </div>
  </recursive>
  
  <h2>Résultat</h2>

  <pre>{{ arbre | json }}</pre>

</div>
